<%- include('./../partials/header.ejs') %>

<%= data %>

<div class="create__form">
    <form action="create" method="POST" class="form__actions">
        <div class="form__title">Create Profile</div>
        <p class="form__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, debitis odit vel
            laborum temporibus nostrum consequuntur quia quasi velit ab nemo? Molestias quasi libero illum autem
            accusamus. Minima, magni accusantium?</p>
        <div class="form__wrapper">
            <div class="input__labels">
                <label for="employeeId">Employee ID:</label>
                <input type="number" name="employeeId" id="employeeid" required>
            </div>
            <div class="input__labels">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstname">
            </div>
            <div class="input__labels">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastname">
            </div>
            <div class="input__labels">
                <label for="department">Department:</label>
                <input type="text" name="department" id="department">
            </div>
            <div class="input__labels">
                <label for="role">Role:</label>
                <input type="text" name="role" id="role">
            </div>
            <div class="input__labels">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input__labels">
                <label for="mobile">Mobile:</label>
                <input type="text" name="mobile" id="mobile">
            </div>
            <div class="input__labels">
                <label for="employmentStatus">Status:Fulltime</label>
                <input type="checkbox" name="fullTime" value="true" id="employeestatus" checked>
            </div>
            <button type="submit" class="button__create">Create</button>
        </div>
    </form>
</div>

<%- include('./../partials/footer.ejs') %>