<%- include('./../partials/header.ejs') %>

<%= data %>

<div class="create__form">
    <form action="#" class="form__actions">
        <label for="employeeid">Employee ID:</label>
        <input type="text" name="employeeid" id="employeeid">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname">
        <label for="department">Department:</label>
        <input type="text" name="department" id="department">
        <label for="employeeid">Role:</label>
        <input type="text" name="role" id="role">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="employeestatus">Employee Status:</label>
        <input type="checkbox" name="employeestatus" id="employeestatus">
        <button type="submit">Create</button>
    </form>
</div>

<%- include('./../partials/footer.ejs') %>