<%- include('./partials/login_styles.ejs') %>

<div class="login__wrapper">
    <form action="/hixel/admin" method="POST" class="login__form">
        <div class="login__form--logo-container">
            <img class="login__form--logo" src="/img/logo.png" alt="Logo">
        </div>
        <div class="login__form--content">
            <div class="login__form--header">
                Login into your account
            </div>
            <input class="login__form--input" type="text" name="username" id="acc_username" placeholder="Username"
                required>
            <input class="login__form--input" type="password" name="password" id="acc_password" placeholder="Password"
                required>
            <button class="login__form--button" type="submit">Login</button>
            <div class="login__form--links">
                <a href="./" class="login__form--link">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>

<%- include('./partials/footer.ejs') %>