:root {
    --mainBgColor: rgb(222, 241, 246);
    --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
html {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBgColor);
    color: #000;
    font-family: var(--mainFont);
}

.container {
    margin: 1em;
}

.form__actions {
    display: flex;
    flex-direction: column;
}