:root {
    --mainBgColor: rgb(222, 241, 246);
    --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
html {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBgColor);
    color: #000;
    font-family: var(--mainFont);
}

.container {
    margin: 1em;
}

/* Form CSS (Mobile-first)*/
.create__form {
    max-width: 500px;
}
.form__actions {
    display: flex;
    flex-direction: column;
}
.form__wrapper {
    margin: 0 auto;
    width: 100%;
}
.input__labels {
    display: flex;
    margin: 0;
    margin-bottom: 5px;
}
label {
    width: 28%;
}
input {
    width: 70%;
}